.cart-body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cbtn{
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: blue;
    color: white;
    border: none;
}
.cbtn2{
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: red;
    color: white;
    border: none;
}